
@charset "UTF-8";

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	src: url('/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	src: url('/fonts/Roboto/Roboto-Medium.ttf') format('truetype');
}

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	src: url('/fonts/Roboto/Roboto-Bold.ttf') format('truetype');
}
/* font define : Roboto end */

/* font define : Noto Sans KR */
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 100;
	src: url('/fonts/NotoSansKR/NotoSansKR-Thin.otf') format('opentype');
}

@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 300;
	src: url('/fonts/NotoSansKR/NotoSansKR-Light.otf') format('opentype');
}

@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 400;
	src: url('/fonts/NotoSansKR/NotoSansKR-Regular.otf') format('opentype');
}

@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 500;
	src: url('/fonts/NotoSansKR/NotoSansKR-Medium.otf') format('opentype');
}

@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 700;
	src: url('/fonts/NotoSansKR/NotoSansKR-Bold.otf') format('opentype');
}

@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 900;
	src: url('/fonts/NotoSansKR/NotoSansKR-Black.otf') format('opentype');
}
/* font define : Noto Sans KR end */


* {word-break: keep-all; font-family: 'Roboto', 'Noto Sans KR', sans-serif;}

:root {
	--default-maxwidth : 1130px;
	
	--body-padding : 20px 10px;
	--body-margin : 0 auto;
	
	--flex-auto : 1 0 auto;
	
	--color-main : #02bef3;
	
	--color-body-background: #eeeeef;
	--color-warn : #ef7520;
	--color-allow : #003f9b;
	
	--color-btn-main : #0086d1;
	--color-btn-main-hover: #1a59c6;
	
	--color-btn-search: #06496f;
	--color-btn-top : #00aeff;
	--color-btn-top-hover : #2172c6;
	--color-btn-request : #0086d1bd;
	--color-btn-bag : #52cb33;
	--color-btn-delete : #f39494;
	
	--color-gnb : #d4d4d4;
	--color-gnb-active : #fff;
	--color-gnb-hover : #a7bede;
	
	--color-alert: #cfe2ff;
	--color-alert-border: #9ec5fe;
	
	--color-categorybox: #fff;
}

hr{width: 100%; border-color: #fff;}

caption, legend {width:0px; height:0px; font-size:0px; line-height:0px; visibility:hidden;}

/* 공통 CSS : class, id 정의 없이 사용하는 전역 css */
html.fix {overflow:hidden;}
body{
	position: relative;
	background-color: var(--color-body-background);
	padding: var(--body-padding);
	font-size: 14px;
	line-height: 1.5;
	
	-webkit-text-size-adjust:none;
	-webkit-tap-highlight-color:rgba(0, 0, 0, 0);
}

select {position:relative; display:block; width:100%; height:27px; padding:0 12px 0 12px; color:#111; font-weight:normal; font-family:'Roboto' , 'Noto Sans KR' , sans-serif; text-align:left; font-size:14px; line-height:1; border:1px solid #d7d7d7; /*background-image:url(../images/icon/icon_select_custom_arrow_blank.png);*/ background-position:right 19px center;background-repeat:no-repeat; /*background-color:transparent;*/ background-color:#fff; box-sizing:border-box; text-indent:0.01px; background-size:10px auto; outline:none; border-radius:0;}

/* 입력태그 리셋 설정 */
input[type=text],
input[type=file],
input[type=number],
input[type=email],
input[type=tel],
input[type=url],
input[type=search],
input[type=password] {-webkit-appearance:none;-moz-appearance:none;appearance:none;display:block; width:100%; height:27px; padding:0 12px; font-family:'Roboto' , 'Noto Sans KR' , sans-serif; color:#444; font-weight:normal; font-size:14px; border:1px solid #d7d7d7; background-color:transparent; outline:none; box-sizing:border-box; border-radius:0;}

input[type=text]:focus,
input[type=number]:focus,
input[type=email]:focus,
input[type=tel]:focus,
input[type=url]:focus,
input[type=password]:focus,
textarea:focus,
select:focus{
	border-color: hsl(206,90%,69.5%);
	box-shadow: 0 0 0 4px hsla(206,100%,40%,0.15);
}

a{text-decoration: none;}
a[href^="tel:"]{text-decoration: none; color:#000;}
a[href^="tel:"]::before{content: "☎";}

label{display: flex; align-items: center; justify-content: center;}
/* 공통 CSS : class, id 정의 없이 사용하는 전역 css end */

/* 공통 CSS : class name으로 css값 정의 */
/* align */
.align-left {text-align:left !important;}
.align-right {text-align:right !important;}
.align-center {text-align:center !important;}

.font-color-orange {color:var(--color-warn) !important;}
.font-color-black {color:#333 !important;}
.font-color-blue {color:#295cb0 !important;}
.font-color-red {color:#ff0000 !important;}
.font-color-skyblue {color:#298ef7 !important;}
.font-color-gray {color:#888 !important;}

.display-none{display: none !important;}
.display-block{display: block !important;}

.font-bold{font-weight: bold !important;}
/* 공통 CSS : class name으로 css값 정의 end */

/* 로그인 창 css */
div#classlogo{
	max-width: var(--default-maxwidth);
	margin: 0 auto;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: 50px;
}

div#classlogo > img {max-width: 360px; width: 85%;}

div#todayclass{
	max-width: var(--default-maxwidth);
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

div#loginbox{
	display: flex;
	flex-flow: row wrap;
/* 	justify-content: center; */
	align-items: flex-start;
	column-gap: 50px;
	row-gap: 10px;
	background-color: white;
	padding:20px;
	border-radius: 15px;
	max-width: var(--default-maxwidth);
	margin: 0 auto;
}

div#mainnotice {
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	background-color: white;
	padding:20px;
	border-radius: 15px;
	max-width: var(--default-maxwidth);
	margin: 20px auto;
}

div#mainnotice > div.title {
	position:relative;
	padding-left:12px;
	font-size:18px;
	line-height:20px;
	font-weight:700;
	color:#333;
	text-align:left;
	margin-bottom:10px;
}

div#loginbox > div#loginarea{
	flex: var(--flex-auto);
	flex-basis: 250px;
}

div#loginbox > div#loginarea div#loginelements{
	display: flex;
	flex-direction: column;
	gap: 15px;
	width: 100%;
}

div#loginelements > div#logininputarea {
	display: flex;
	flex-direction: column;
	gap: 5px;
	width: 100%;
}

div#loginelements > div#logininputarea > label {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	padding: 2px;
}

div#loginelements > div#logininputarea > label > span {
	flex: var(--flex-auto);
	flex-basis: 60px;
}

div#loginelements > div#logininputarea > label > .inputform{
	flex: var(--flex-auto);
	flex-basis: 140px;
	padding: 4px 10px;
}

div#loginelements > div#loginbuttonarea {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

div#loginelements > div#loginbuttonarea > button {
	padding: 10px;
	font-size:15px;
	font-weight:bold;
	background-color: var(--color-btn-main);
	border: 0;
	border-radius: 8px;
	color:white;
	transition:all 0.25s ease;
}

div#loginelements > div#loginbuttonarea > button:hover {
	background-color: var(--color-btn-main-hover) !important;
	cursor:pointer;
}


div#loginbox > div#schedulebox{
	flex: var(--flex-auto);
	flex-basis: 250px;
}

div.diarygrid{display: grid; grid-template-columns: 145px 1fr; align-items: center; gap:5px;}

div#mainnotice ul {padding-left: 40px; list-style-type: '※ ';}

div#mainnotice ul > li > ul{padding-left: 15px; list-style-type: disc;}
div#mainnotice ul > li + li{margin-top: 3px;}

div#loginlanguage{
	display: flex;
	margin-bottom: 20px;
	overflow: hidden;
}

div#loginlanguage input {
	position: absolute !important;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	width: 1px;
	border: 0;
	overflow: hidden;
}

div#loginlanguage label {
	background-color: #e4e4e4;
	color: rgba(0, 0, 0, 0.6);
	font-size: 14px;
	line-height: 1;
	text-align: center;
	padding: 8px 16px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	transition: all 0.1s ease-in-out;
	flex: var(--flex-auto);
}

div#loginlanguage label:hover{
	cursor: pointer;
}

div#loginlanguage input:checked + label {
	background-color: var(--color-allow);
	box-shadow: none;
	color:white;
	font-weight: bold;
}

div#loginlanguage label:first-of-type {
	border-radius: 4px 0 0 4px;
}

div#loginlanguage label:last-of-type {
	border-radius: 0 4px 4px 0;
}

tbody#showMore, tbody#hideMore{cursor:pointer;}

a.mainlink{color: var(--color-main);}
/* 로그인창 css end */

/* main page header css */
header{
	max-width: var(--default-maxwidth);
	margin: 0 auto;
}

div#sessiontimelayer{text-align: center; display: flex; gap:10px; justify-content: center; align-items: center;}
div#sessiontimelayer > div > span#remaintimetext {color:rgb(0, 14, 104); font-weight: bold; font-size: 15px;}
div#sessiontimelayer > div > span#remaintime {color:black; font-weight: bold; font-size: 15px;}
div#sessiontimelayer button {padding: 5px 15px; border: 0px; border-radius: 5px; background-color: var(--color-btn-main); color:white; font-weight: bold; cursor: pointer;}

div#optbtnlayer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 7px;
}

div#optbtnlayer > div{
	display: flex;
	align-items: center;
}

div#optbtnlayer button{
	border: 0;
	background-color: var(--color-btn-top);
	border-radius: 10px;
	padding: 8px 12px;
	color:white;
	transition:all 0.25s ease;
	margin: 0px 3px;
	height:35px;
}

div#optbtnlayer button:hover{cursor:pointer; background-color: var(--color-btn-top-hover);}

div#optbtnlayer span#username{max-width: 100px; display: block; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}


div#statuslayer{
	border-top: 1px solid #aaa;
}

div#statusshow{
	background-color: var(--color-btn-main);
	color: white;
	text-align: center;
	padding: 4px;
	font-weight: bold;
	cursor: pointer;
}

nav#class-gnb{
	border-top: 1px solid #aaa;
/* 	border-bottom: 1px solid #aaa; */
	width: 100%;
	margin-top: 5px;
}

nav#class-gnb > ul{
	list-style-type: none;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	align-items: center;
	justify-content: space-around;
	gap: 10px;
	margin-top: 10px;
	margin-bottom: 0px;
	margin-left: 15px;
	margin-right: 15px;
	padding: 0px;
}

nav#class-gnb > ul > li{
	color:#000;
	background-color: var(--color-gnb-active);
	text-align: center;
	padding: 5px 0px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	font-weight: bold;
}

nav#class-gnb > ul > li.gnb-link{
	font-weight: 400;
	background-color: var(--color-gnb);
	color:white !important;
}

nav#class-gnb > ul > li.gnb-link:hover{
	font-weight: 700;
	cursor : pointer;
	background-color: var(--color-gnb-hover) !important;
}

/* main page header css end */

/* main page css */
div.categorybox{
	display: flex;
	flex-flow: column;
	position:relative;
	border-radius: 15px;
	background-color: var(--color-categorybox);
	box-sizing:border-box;
	padding:20px;
	max-width: var(--default-maxwidth);
	margin: 0 auto;
}

div.categorybox div.categorytop{
	display: flex;
	justify-content: flex-start;
	flex-flow: row wrap;
	align-items: center;
	margin-top: 20px;
	margin-bottom:10px;
	column-gap: 40px;
	row-gap:5px;
}

div.categorytop div.smallinfo{
	display: flex;
	font-size: 15px;
	line-height: 18px;
	color:var(--color-warn);
	padding-left: 10px;
}

div.categorytop div.sortbtn{margin-left: auto;}

div.categorybox  div.title {
	position:relative;
	padding-left:12px;
	font-size:18px;
	line-height:20px;
	font-weight:700;
	color:#333;
	text-align:left;
}

ul.categorylist {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	gap: 5px;
	padding: 0;
	list-style-type : none; 
	margin: 2px;
}

ul.categorylist > li {
	font-size: 14px;
	text-align: center;
	background-color: var(--color-btn-main);
	color:white;
	padding: 5px;
	border-radius: 10px;
	font-weight: 600;
	
	display: flex;
	justify-content: center;
	align-items: center;
	
	transition:all 0.25s ease;
}

ul.categorylist > li:hover {
	background-color:var(--color-btn-main-hover) !important;
	cursor: pointer;
}

div.categorybox + div.categorybox {margin-top:15px;}

div#curiblock{margin-bottom: 50px;}
/* main page css end */

/* popup page css */
button.classbtn{
	min-width: 50px;
	font-size: 13px;
	color: white;
	border: 0;
	border-radius: 6px;
	padding: 6px 8px;
	cursor:pointer; 
}

button.classbtn.reqbtn{background-color: var(--color-btn-request);}
button.classbtn.bagbtn{background-color: var(--color-btn-bag);}
button.classbtn.delbtn{background-color: var(--color-btn-delete);}

span.fullclass{color:#ef7520 !important; font-weight: bold;}

div.courselist{
	display: flex;
	flex-flow: column;
/* 	gap: 6px; */
}

div.coursedata{
/* 	background-color:#bcdfff; */
	display: grid;
	grid-template-columns: 1fr 190px;
	align-items: center;
	padding: 6px 10px;
/* 	border-radius: 5px; */
}

div.coursedata.confirm{
	color:#aaa;
}

div.coursedata + div.coursedata {
	border-top: 1px dotted black;
}

div.coursedata:hover{
	background-color: #eee;
}

div.coursedata div.course-past{
	color: var(--color-allow);
}

/* 재수강 : B0이상은 커트 */
div.course-past[data-grade='B0'], div.course-past[data-grade='B+'], div.course-past[data-grade='A0'], div.course-past[data-grade='A+'] {
	color: var(--color-warn) !important; 
}

div.coursedata span.applied{color:#000 !important; font-weight: bold;}

div.course-schedule{display: flex; column-gap: 5px; flex-flow: row wrap;}
div.course-schedule span:not(:last-of-type)::after{content: ',';}

div.infoarea{font-size: 13px;}

div.btnarea{
	display: flex;
	gap: 5px;
	flex-flow: row wrap;
	justify-content: flex-end;
	align-items: center;
}

/* popup page css end */

/* loading screen */
#loading {position:fixed; top:0; left:0; right:0;bottom:0; display:none; width:auto; height:auto; background-color:rgba(255,255,255,0.8); z-index:900000;}
#loading.actived {display:block;}
.loading-wrap {position:absolute;top:50%;left:50%;display:block;width:130px;height:130px;margin:-75px 0 0 -75px;}
.loading-wrap .bar {position:absolute;top:0;left:0;width:100%;height:100%;background:url(../images/loading_bar.png) center center no-repeat; background-size:100% 100%; animation:loading 3s infinite linear}
.loading-wrap .txt {font-size:16px;line-height:130px;text-align:center;color:#298ef7;}
@keyframes loading {
	0% {transform:rotate(0deg);}
	100% {transform:rotate(360deg);}

}
/* loading screen end */

/* new main css */
div#searchlayer{
	display: flex;
	flex-flow: row wrap;
	gap: 15px;
	justify-content: center;
}
div#class-timetable{
	flex: 1 1 auto;
/* 	flex-basis: 600px; */
	position: relative;
	
	display: flex;
	flex-flow: column;
	position:relative;
	border-radius: 15px;
	background-color: white;
	box-sizing:border-box;
	padding:10px 20px;
}
div#class-search{
	flex: 1 1 auto;
	flex-basis: 400px;
	position: relative;
}

div#class-mine{
	flex: 1 1 auto;
	flex-basis: 600px;
	position: relative;
}

/* new main css end */

/* time table css */
table#timetable{
	border-collapse: collapse;
}

table#timetable th, table#timetable td {
	position: relative;
	text-align: center;
}

table#timetable th#tabledivision {
	background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg"><line x1="0" y1="0" x2="100%" y2="100%" stroke="gray" /></svg>');
}

table#timetable tbody tr{
	height: 30px;
	margin: 0 -1px;
}

table#timetable tbody tr td, table#timetable thead tr th {
	border-top: 1px solid #555;
	border-bottom: 1px solid #555;
	border-left: 1px solid #555;
	border-right: 1px solid #555;
}

div.timeshadow{
	position:absolute;
	background-color: #efefef;
	border : 1px solid #aaa;
	width  : 100%;
	opacity : 0.5;
	margin: -2px;
}
/* time table css end */

/* minimize event */
.flexwindow{
	position: relative;
	transition: all 0.5s ease-in-out;
}
.flexwindow .maximize{
	height:30px;
	text-align: center;
	color:#fff;
	background-color:var(--color-btn-main);
	transition : all 0.5s ease-in-out;
	
	opacity: 0;
	visibility: hidden;
	
	font-size: 16px;
	line-height: 30px;
	position:absolute;
}

.flexwindow .categorybox {
	transition: all 0.5s ease-in-out;
}

.flexwindow .minimize{
	width:30px;
	height:30px;
	float:left;
	position: absolute;
	z-index:9;
	cursor:pointer;
	
	left: 0;
	top: 0;
}

.flexwindow .minimize:before, .flexwindow .minimize:after{
	position:absolute;
	content:"";
	width:10px;
	height:2px;
	background-color: black;
	border-radius: 2px;
	top:18px;
	left: 10px;
	transition: all 0.5s ease-in-out;
}
.flexwindow .minimize:before{transform: translateX(-3px) rotate(135deg);}
.flexwindow .minimize:after{transform: translateX(3px) rotate(-135deg);}

#minitoggle{width: 0px; height: 0px; padding: 0px; margin: 0px; display: none;}

#minitoggle:checked ~ .flexwindow > .maximize {
	opacity: 1;
	visibility: visible;
	cursor:pointer;
	transition: all 0.5s ease-in-out;
	
	max-width: var(--default-maxwidth);
	display:block;
	margin: 0 auto;
	
	position: relative;
}

#minitoggle:checked ~ .flexwindow {
	flex-basis: 100%;
}

#minitoggle:checked ~ .flexwindow > .categorybox{
	opacity: 0;
	visibility: hidden;
	width: 0;
	padding: 0;
	overflow: hidden;
	margin-right:10px;
	
	display:none;
}

#minitoggle:checked ~ .flexwindow > .minimize{display:none;} 
/* minimize event end */

div.searcharea{
	display: grid;
	grid-template-columns: 105px 1fr;
	align-items:center;
}

div.searcharea > span#campusradio{display: flex; flex-wrap: wrap; gap: 5px;}
div.searcharea > span#daycheckbox{display: flex; flex-wrap:wrap; align-items:center; row-gap:5px; column-gap:10px;}

#courseclsinput{width:90px;}

div.keywordarea{
	display: grid;
	grid-template-columns: 200px 1fr;
	column-gap:15px;
}

select#deptlist{width:100%;}

button#searchbtn{
	min-width: 50px;
	font-size: 13px;
	color: white;
	border: 0;
	border-radius: 6px;
	padding: 6px 8px;
	background-color: var(--color-btn-search);
	cursor:pointer; 
}

/* 20231026 tab 처리용 화면 추가 */
.tablists{display: flex;justify-content: space-between;align-items: center;column-gap: 5px;background-color: #fff;border-radius: 7px; flex-flow: row wrap;}
.tablists > div > input[type=button].tablinks{background-color: #fff;color: var(--color-main);font-weight: bold;padding: 3px 12px;border: 1px solid transparent;border-radius:20px;cursor: default; font-size: 16px;}
.tablists > div > input[type=button].tablinks[data-active='Y']{border: 1px solid var(--color-main);}
.tablists > div > input[type=button].tablinks[data-active='N']:hover{background-color: #f4f4f4;cursor: pointer;}

.tabcontents{margin-top:10px;}

.tabscreen{margin-top: 10px; animation-duration:0.6s; animation-name: blink;}
.tabscreen[data-active='N']{display: none;}
.tabscreen[data-active='Y']{display: block;}
/* 20231026 tab 처리용 화면 추가 end */

/* 20231101 cdtstatus */
table.defaultTable{text-align: center; width: 100%; table-layout: fixed;}
table.defaultTable thead th{padding:5px 10px; font-size:14px; line-height:18px; vertical-align:middle; font-weight: 700;}
table.defaultTable thead th.login {color:#333; background-color:#f3f4f6;}
table.defaultTable thead th.topoutline {color: #fff; background-color:#0060c4;}
table.defaultTable thead th.topdetail {color: #fff; background-color:#0060c47d;}
table.defaultTable thead tr + tr > th {border-top:1px solid #eaeaea;}
table.defaultTable tbody td {padding:5px; font-size:14px; line-height:18px;  color:#444; background-color:#fff; vertical-align:middle; border-bottom:1px solid #eaeaea;}
table.defaultTable tbody tr.today td {background-color: var(--color-main) !important; color:white !important; font-weight: bold;}
table.defaultTable tbody tr.past td {color: #aaa;}

tr.hiddenrow{display: none;}
/* 20231101 cdtstatus end */

/* 20231114 btn icon */
a[class*='profile_']{
	display: flex;
	line-height: 16px;
	
}
a[class*='profile_']:before {
	content : '';
	background-size: 16px;
	background-repeat: no-repeat;
	background-position: center;
	width: 16px;
	height: 16px;
	display: inline-flex;
/* 	filter: invert(1); */
	margin-right: 4px;
}
a.profile_language:before {background-image: url(/images/icon/icon_globe.svg);}
a.profile_manual:before {background-image: url(/images/icon/icon_manual.svg);}
a.profile_logout:before {background-image: url(/images/icon/icon_logout.svg);}

/* 20231114 btn icon end */

/* 20231114 error page & duplicate login page */
.login-end-data {position:fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); width:80%; max-width:580px;border:1px solid #ced2d9; padding:30px; box-sizing:border-box;border-radius:10px; text-align:center; margin:0 auto;background: url(/images/logo_blur.png) right top no-repeat; background-color: white;}
.login-end-data .icon {display:inline-block;width:48px;height:42px;background:url(/images/icon/icon_end.png) left top no-repeat;}
.login-end-data .txt-1 {margin-top:13px;font-size:28px;line-height:42px;color:#ef7520; font-weight:700; padding-bottom:27px;border-bottom:1px solid #d7d7d7;}
.login-end-data .txt-2 {max-width:420px; margin:26px auto 0 auto;font-size:14px;line-height:20px;color:#0843a5;text-align:left;}
.login-end-data .txt-3 {max-width:420px; margin:3px auto 0 auto;font-size:14px;line-height:20px;color:#298ef7; text-align:left;}
.login-end-data .txt-4 {max-width:420px; margin:0px auto 0 auto;font-size:14px;line-height:20px;color:#666; text-align:left;}
.login-end-data .txt-6 {margin-top:20px; text-align:left;}
.login-end-data .txt-6-1 {position:relative; font-size:13px;line-height:20px;color:#888;padding-left:7px;}
.login-end-data .txt-6-1 + .txt-6-1 {margin-top:0;}
.login-end-data .txt-6-1:before {content:'·'; position:absolute;top:0;left:0;}
.login-end-data .btns {margin-top:25px;}
.login-end-data .btns a {position:relative; display:inline-block; height:40px; padding:0 20px; font-size:14px; line-height:40px; font-weight:400; text-align:center;background:#298ef7; border-radius:4px; box-sizing:border-box;color:#fff;}
.login-end-data .btns a {position:relative; display:inline-block; height:40px; padding:0 20px; font-size:14px; line-height:40px; font-weight:400; text-align:center;background:#298ef7; border-radius:4px; box-sizing:border-box;color:#fff; transition:all 0.25s ease;}
.login-end-data .btns a:hover {background-color:#2172c6 !important;border-color:#2172c6 !important;}

/* 20231114 error page & duplicate login page end */

/* 20231116 profile dropdown and option btn */
div#optbtn{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: 6px;
	position: relative;
	
	padding:5px;
	border: 1px solid #aaa;
	border-radius: 6px;
}

div#optbtn > label {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: 6px;
	cursor:pointer;
}
img#maruicon{content : url(/images/icon/icon_maru.png); width: 30px; height: 30px;}
div#optbtn > label:hover > img#maruicon{content : url(/images/icon/icon_maru_over.png);}
#dropdownCheck{width:0px; height:0px; padding: 0px; margin: 0px; display: none;}

#dropdownCheck:checked ~ #profile {display: block !important;}

#profile{position: relative;}

span.caret{
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: 2px;
	vertical-align: middle;
	border-top: 4px dashed;
	border-right: 4px solid rgba(0,0,0,0);
	border-left: 4px solid rgba(0,0,0,0);
}

#profile{
	position: absolute;
	top:100%;
	right:0;
	z-index: 1000;
	display: none;
	min-width: 230px;
	padding: 10px 0;
	margin: 2px 0 0;
	text-align: left;
	list-style: none;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid rgba(0,0,0,0.15);
	border-radius: 4px;
	box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
}

#profile > li.stdinfo{
	padding: 0px 20px;
	display: flex;
	gap: 5px;
}

#profile > li.stdinfo > span#stdname{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 130px;
	display: block;
}

#profile > li.divider {
	height:1px;
	margin: 9px 0;
	overflow: hidden;
	background-color: #e5e5e5;
}
#profile > li > a:hover{
	cursor:pointer;
	background-color: #f4f4f4;
	color: lightskyblue;
	
	box-shadow: 3px 0px 0px 0px lightskyblue inset;
}
#profile li > a {
	display: flex;
	align-items:center;
	padding: 5px 20px;
	clear:both;
	font-weight: 400;
	line-height: 1.4;
	font-size: 14px;
	color: #333;
	white-space: nowrap;
}
/* 20231116 profile dropdown and option btn end */

/* 20231201 tooltip */
.tooltip {
	position: relative;
/* 	display: inline-block; */
}

.tooltip .tooltiptext {
	visibility: hidden;
	max-width: 290px;
	width: 280px;
	background-color: #000;
	color: #fff;
	text-align: left;
	border-radius: 6px;
	padding: 5px 0;
	position: absolute;
	z-index: 1;
	top: 100%;
	left: 50%;
	padding-left: 20px;
	opacity: 0;
	transition: opacity 0.3s;
	transform: translate(-50%, 0px);
}

.tooltip:hover .tooltiptext {
	visibility: visible;
	opacity: 1;
}

span.qmark {
	font-size: 0.7em;
	vertical-align: super;
	color: #aaa;
}

/* 20231201 tooltip end */

/* 20231204 alert board */
div.alertboard{position:relative; padding: 1em; color: #052c65; background-color: var(--color-alert); border: 1px solid var(--color-alert-border); border-radius: 0.5em;}
/* 20231204 alert board end */

/* 20231206 pagetop */
a#page-top{
	cursor: pointer;
	font-size: 2em;
	line-height: 42px;
	text-align: center;
	position:fixed;
	bottom: 0;
	right: 0;
	z-index: 50;
	width:40px;
	background-color: var(--color-main);
}
a#page-top:before{content: "\f3d8";}
/* 20231206 pagetop end */

/* 20240104 overlaypopup */
.page-pop-wrap {position:fixed; top:0; left:100%; width:100%; height:100%; z-index:9999; overflow:hidden; background:rgba(0,0,0,0.7);}
.page-pop-wrap.actived {left:0;}
/* .page-pop-wrap {} */
.page-pop-inner {max-width:600px; margin:0 auto; padding:0 20px;}
.page-pop-header {font-size:18px; line-height:27px; padding:15px 20px; background:#428bca; color:#fff;}
.page-pop-body {font-size:14px; padding:20px 20px; background:#fff; color:#333; line-height: 25px; position: relative;}
.page-pop-body::before{
	content: "";
	position:absolute;
	background-image: url(/images/logo1.png);
	background-position: right top;
	background-size:150px;
	background-repeat: no-repeat;
	margin:20px;
	opacity: 0.1;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
}
.page-pop-footer {display:flex; align-items:center; padding:10px 20px; justify-content:flex-end; background:#fff; column-gap: 20px; row-gap:6px;}
.page-pop-footer > a {display:inline-block; font-size:14px; line-height:30px; background:#fff; padding:0 15px; color:#333; border:1px solid #428bca; border-radius:3px;}
.page-pop-footer > a + a {margin-left:10px;}
.display-table {display:table;table-layout:fixed;width:100%;height:100%;}
.display-table-cell {display:table-cell;width:100%;height:100%;vertical-align:middle;}
/* 20240104 overlaypopup end */

/* 20240110 readypage */
div#readydiv{display: flex; margin-top: 150px; flex-direction: column; justify-content: center; align-items: center;}

div#loginbuttonarea button{font-size: 20px;background-color: #0060c4a8;font-weight: bold;color: white;padding: 18px 40px;border: 0px;cursor: pointer;}
div#loginbuttonarea button:hover{background-color:#0060c4 !important;}

ul#readyinformation{padding-top: 20px;}

/*div#readybag{display: flex; flex-flow: column; background-color: var(--color-categorybox); padding: 15px; max-width: var(--default-maxwidth); margin: 0 auto; border-radius: 15px;}*/

div#readybag-top{display: flex; flex-flow: row wrap; align-items: center; margin-top: 20px;}
div#readybag-btn{margin-left: auto;}
/* 20240110 readypage end */

.mobileblock{display: none;}

button.orderby {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: 6px;
	position: relative;
	color:#fff;
	background-color: var(--color-btn-search);
	padding:6px 8px;
	border: 1px solid var(--color-btn-search);
	border-radius: 8px;
	cursor: pointer;
}

/* 20240403 timetable */
div.detail-item.color1 {background-color: #41c5bf;}
div.detail-item.color2 {background-color: #e5a1a5;}
div.detail-item.color3 {background-color: #bf783f;}
div.detail-item.color4 {background-color: #a174d8;}
div.detail-item.color5 {background-color: #89c440;}
div.detail-item.color6 {background-color: #df9ce3;}
div.detail-item.color7 {background-color: #bdb73e;}
div.detail-item.color8 {background-color: #abafe8;}
div.detail-item.color9 {background-color: #dba980;}
div.detail-item.color10{background-color: #8ab8de;}
div.detail-item.color11{background-color: #277873;}
div.detail-item.color12{background-color: #42ca7f;}
div.detail-item.color13{background-color: #e49ec5;}
/* 나머지 색깔은 추후 결정 */

[data-tooltip]:before{
	position: absolute;
	content : attr(data-tooltip) "\A" attr(data-tooltip2);
	opacity : 0;
	background-color: #000;
	color : #fff;
	text-align: center;
	width: 100%;
	left : 0%;
	bottom:0px;
	white-space: pre-wrap;
	font-size: 11px;
}
[data-tooltip]:hover:before{
	opacity: 0.75;
}

.week-title-original{display:block;}
.week-title-simple{display:none;}

@media only screen and (max-width:768px){
	.main-schedule-detail .detail-item{
		padding: 5px !important;
	}
	.week-title-original{display:none;}
	.week-title-simple{display:block; font-size:12px;}
}

.main-schedule-data {/*margin-top:10px;*/ position:relative;}
.main-schedule-frame {position:relative; width:100%; /*height:772px;*/}
.main-schedule-frame iframe {width:100%;/* height:100%; position:absolute;top:0;left:0;*/}

.main-schedule-header .main-schedule-row {display:flex;}
.main-schedule-header .main-schedule-row .col {position:relative;flex:1; display:flex; align-items:center; justify-content:center; font-size:14px;line-height:21px;color:#666;text-align:center;padding:0 2px; margin:-1px; height:35px; background:#f4f5fa; border:1px solid #eaeaea;}
.main-schedule-header .main-schedule-row .col-1 {flex:0 0 auto; width:100px;}
.main-schedule-header .week-state {position:absolute;top:0;right:0;bottom:0;left:0;display:block;width:auto;height:auto;margin:auto; font-size:14px;color:#888;overflow:hidden;}
.main-schedule-header .week-state:before {content:''; position:absolute;top:50%;left:50%;display:block;width:200%;height:1px; background:#eaeaea;transform:translate(-50% , -50%) rotate(20deg);}
.main-schedule-header .week-state .txt-1 {line-height:25px; padding:0 9px;position:absolute;bottom:0;left:0;}
.main-schedule-header .week-state .txt-2 {line-height:25px; padding:0 9px;position:absolute;top:0;right:0;}
.main-schedule-header .week-title > span.week-title-original{font-size: 12px;}
.main-schedule-header .week-title > span.week-title-simple{font-size: 0;}

.main-schedule-body .main-schedule-row {display:flex;}
.main-schedule-body .main-schedule-row .col {flex:1; display:flex; align-items:center; justify-content:center; font-size:14px;line-height:21px;color:#888;text-align:center;padding:0 2px; margin:-1px; height:35px; background:#fff; border:1px solid #eaeaea;}
.main-schedule-body .main-schedule-row .col-1 {flex:0 0 auto; width:100px;}
.main-schedule-body .main-schedule-row .today {background-color:#fdfbed;}

.main-schedule-detail {position:absolute; top:0; right:0;bottom:0;left:0;display:flex;width:auto;height:auto;margin:35px auto auto 100px; padding:1px 1px 1px 4px}
.main-schedule-detail .main-schedule-row {flex:1;position:relative; display:flex;}
.main-schedule-detail .main-schedule-row > div {position:relative;flex:1;}
.main-schedule-detail .detail-item {position:absolute; top:0;left:0;width:100%; font-size:12px; line-height:16px; color:#fff; box-sizing:border-box; padding: 0px 8px; display: flex; flex-direction: column; align-items: center; justify-content: flex-start; padding-top: clamp(5px, 8px, 10px);}
.main-schedule-detail .detail-item .name {max-height:32px; display:-webkit-box; text-overflow:ellipsis; overflow:hidden; -webkit-line-clamp:2; -webkit-box-orient: vertical;}
.main-schedule-detail .detail-item .code {display: flex; flex-wrap: wrap; justify-content: center; column-gap: 3px;}

/* 20240403 timetable end */

@media only screen and (max-width:768px) {
	div#mainnotice ul {padding-left: 20px;}
	
	div.infoarea div:not(.course-title){font-size: 11px;}
	
	div.btnarea{gap:15px;}
	div.btnarea button{font-size: 12px;}
	
	div.keywordarea{grid-template-columns: 1fr; row-gap: 5px;}
	
	div.coursedata{ grid-template-columns: 1fr; row-gap: 5px;}
	
	.pcblock{display: none !important;}
	.mobileblock{display: block !important;}
}